NEXT_PUBLIC_SITE_URL=https://questora.xyz
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
NEXT_PUBLIC_PLATFORM_ADMIN_WALLETS=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_BOT_TOKEN=
DISCORD_GUILD_ID=
DISCORD_ROLE_VERIFIED_EXPLORER=
DISCORD_ROLE_GENESIS_EXPLORER=
DISCORD_ROLE_TOP_EXPLORER=
DISCORD_ROLE_PROJECT_OWNER=
DISCORD_ROLE_COMMUNITY_MANAGER=
